* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    margin-bottom: 0;
}



.navbar__brand,
.navbar__link {
    color: #fff;
}
.navbar__link:hover {
    color: #fff;
    text-decoration: underline;
}
.header__navbar,
.header__hero {
    background-color: #2d6255;
}
.header .header__navbar .offcanvas{
    background-color: #2d6255;
}
/* Cambiar el color del icono toggler a blanco */
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler:focus {
    box-shadow: none;
}

.header__hero {
    color: #fff;
    margin-top: 56px;
}

.header__hero .hero__button{
    background-color: #fff;
    color: #2d6255;
}


.navbar__actions-item {
    background-color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.navbar__actions-item:hover{
    background-color: #fcf9f6;
}

.swiper {
    width: 80%;

}

.products__swiper .swiper-button-prev,
.products__swiper .swiper-button-next {
    --swiper-navigation-size: 20px;
    background-color: white;
    height: 30px;
    width: 30px;
    opacity: 0;
    transition: opacity 0.3s;

}

.products__swiper .swiper-button-prev {
    border-radius: 0 65px 65px 0;
    left: -8px;

}

.products__swiper .swiper-button-next {
    border-radius: 65px 0 0 65px;
    right: -10px;
}

.products__swiper:hover .swiper-button-prev,
.products__swiper:hover .swiper-button-next {
    opacity: 1;

}



.products__featured .product-card__image {
    height: 180px;
    object-fit: cover;
}

.products__featured .product-card__title {
    font-size: 16px;
    color: #b1804b;
}

.products__featured .product-card__price {
    font-size: 14px;
}

.product-card__body {
    background-color: #fcf9f6;
}



.products__all {
    padding: 60px 0;
}

.products__all-category {
    /* background-color: #2d6255; */
    padding: 5px 8px;
    width: 100px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.products__all-category:hover {
    background-color: #2d6255;

}

.products__all-category:hover a {
    color: #fff;
}

.products__all-category a {
    color: #000;
}
.products-grid {
    margin: 0 auto;
}
.products-grid-item {
    width: 250px;
    height: auto;
    margin-bottom: 20px;

}
.product-card__button{
    border: 1px solid #ccc;
    font-size: 14px;
   
}
.product-card__button:hover {
    background-color: #2d6255;
    color: #fff;
}

.products__all .product-card {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;

}

.products__all .product-card__image {
    width: 100%;
    height: auto;
}

.products__all .product-card .card-content {
    padding: 12px;
}

.products__all .product-card__title {
    margin-top: 0;
    font-size: 16px;
}

.products__all .product-card__price {
    font-size: 14px;
}

.products__all .product-card__description {
    font-size: 12px;
    color: #9b9b9b;
    margin-top: 10px;
}

.about{
    padding: 60px 0px;
}
.about__intro {
    padding: 0 70px;
}

.about__title,
.products__title,
.products__all-title,
.contact__title {
    color: #2d6255;
    font-weight: bold;
}

.about__details {
    margin: 0 auto;
}

.about__services {
    background-color: #eeedec;
}

.about__service-title {
    font-size: 28px;
    color: #2d6255;
}

.about__services .pagination {
    --bs-pagination-color: #35675a;
    --bs-pagination-bg: none;
    --bs-pagination-border-color: none;

}

.contact {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 80px 0;
}

.contact__input {
    border: 2px solid #5e9e8d;
}

.contact__submit-btn {
    background-color: #35675a;
    color: #fff;
}

.contact__submit-btn:hover {
    background-color: #2d6255;

    color: #fff;
}


.footer{
    font-size: 14px;
    background-color: #f0f2f1;
}
.footer__title{
    font-size: 18px;
}
.footer__button {
    background-color: #35675a;
    color: #fff;
}
.footer__button:hover {
    background-color: #2d6255;
    color: #fff;
}
.box{
    height: 50px;
    width: 100%;
    background: #2d6255;
}

@media screen and (max-width: 992px) {
    .about__intro {
        padding: 0 20px;
    
}
 
}

@media screen and (max-width: 780px) {
    .contact {
        width: 80%;
    }

}
@media screen and (max-width: 576px) {
    .about {
        padding: 0 16px;

    }

}
